<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action ='/info' method='post'>
        first name:<input type="text" name='first_name'><br>
        last name:<input type="text" name="last_name"><br>
        email:<input type="text" name="email"><br>
        password:<input type="text" name="password">
        password_confirmation:<input type="text" name="confirmed">       
        <input type="submit" value="Submit">
    </form>
</body>
</html>