<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1><br>
    <p>I am thinking of a number between 1 and 100</p><br>
    <p>Take a guess!</p><br>
    <form action="/guess" method="post">
        <input type="text" name="number">
        <input type="submit" value="Submit">
    </form>
    <p>{{answer}}</p>
</body>
</html>
