<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <form action ='/info' method='post'>
        Your Name:<input type="text" name='name'>
        Dojo Location:<input type="text" name="location">
        Favorite Language:<input type="text" name="language"><br>
        Comment(optional):<br><input type="textarea" name="comment">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
